<div class="container">

    <div class="container mt-4">
        <h2 class="mb-4 text-primary text-center">Country Management</h2>
    
        <div class="card">
            <div class="card-body">
                <form class="row g-3">
                    <div class="col-md-6">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name" [(ngModel)]="country.name" name="name" placeholder="Enter Name">
                    </div>
    
                    <div class="col-md-6">
                        <label for="business" class="form-label">Business</label>
                        <input type="text" class="form-control" id="business" [(ngModel)]="country.bussiness" name="business" placeholder="Enter Business">
                    </div>
    
                    <div class="col-md-4">
                        <label for="progress" class="form-label">Progress</label>
                        <input type="text" class="form-control" id="progress" [(ngModel)]="country.progress" name="progress" placeholder="Enter Progress">
                    </div>
    
                    <div class="col-md-4">
                        <label for="status" class="form-label">Status</label>
                        <input type="text" class="form-control" id="status" [(ngModel)]="country.status" name="status" placeholder="Enter Status">
                    </div>
    
                    <div class="col-md-4">
                        <label for="sell" class="form-label">Sell</label>
                        <input type="text" class="form-control" id="sell" [(ngModel)]="country.sale" name="sell" placeholder="Enter Sell">
                    </div>
    
                    <div class="col-12">
                        <button class="btn btn-primary" (click)="saveCountry()">Add Country</button>
                    </div>


                    <div class="col-12">
                        <button class="btn btn-primary" (click)="updateCountry(country.id)">Update Country</button>
                    </div>
                </form>
            </div>
        </div>
    
        <div class="card mt-4">
            <div class="card-body">
                <div class="row g-3 align-items-center">
                    <div class="col-auto">
                        <label for="searchId" class="form-label">Find Country by ID</label>
                    </div>
                    <div class="col-auto">
                        <input type="number" class="form-control" id="searchId" [(ngModel)]="countryId" name="searchId" placeholder="Enter ID">
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-secondary" (click)="getCountryById(countryId)">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h3 class="mt-4 text-center mb-4">Country List</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Bussiness</th>
                <th>Sale</th>
                <th>Progress</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let country of countries">
                <td>{{ country.id }}</td>
                <td>{{ country.name }}</td>
                <td>{{ country.bussiness }}</td>
                <td>{{ country.sale }}</td>
                <td>{{ country.progress }}</td>
                <td>{{ country.status}}</td>
                <td>
                    <button (click)="deleteCountry(country.id)">Delete</button>
                </td>
                
            </tr>
        </tbody>
    </table>
</div>