<div class="container">
    <form [formGroup]="studentFrom" (ngSubmit)="createStudent()">

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Name</label>
            <input type="text" class="form-control"   formControlName="name">
            
        </div>

        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Email</label>
            <input type="email" class="form-control" formControlName="email">
        </div>
        
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Cell Number</label>
            <input type="text" class="form-control" formControlName="cellNo">
        </div>
       
       
        <div class="mb-3" formGroupName="location">
            <div class="invalid-feedback">Please select a generic.</div>
            <label for="location" class="form-label">Location:</label>
            <select id="location" formControlName="name" class="form-select" required>
              <option *ngFor="let loc of locations" [ngValue]="loc.name">{{loc.name}}</option>
            </select>
            
          </div>

   
        <button type="submit" class="btn btn-primary" >Submit</button>
    </form>

</div>
