<div class="booking-popup">
  <div class="booking-popup-content animate">
    <span class="close" (click)="closePopup()">&times;</span>
    <h2 class="text-center">Book {{ studio.Name }}</h2>
    <form (ngSubmit)="bookNow()">
      <div class="mb-3">
        <label for="bookingDate" class="form-label">Date:</label>
        <input type="date" id="bookingDate" [(ngModel)]="bookingDate" name="bookingDate" class="form-control" required>
      </div>

      <div class="mb-3">
        <label for="bookingTime" class="form-label">Time:</label>
        <select id="bookingTime" [(ngModel)]="bookingTime" name="bookingTime" class="form-select" required>
          <option *ngFor="let time of availableTimeSlots" [value]="time">{{ time }}</option>
        </select>
      </div>

      <div class="mb-3">
        <label for="userName" class="form-label">Name:</label>
        <input type="text" id="userName" [(ngModel)]="userName" name="userName" class="form-control" required>
      </div>

      <div class="mb-3">
        <label for="userEmail" class="form-label">Email:</label>
        <input type="email" id="userEmail" [(ngModel)]="userEmail" name="userEmail" class="form-control" required>
      </div>

      <button type="submit" class="btn btn-primary w-100">Confirm Booking</button>
    </form>
  </div>
</div>
