
<div class="container  mt-5" >
    <table class="table table-bordered">
    <h1>All Locations</h1>
    <tr>
       
        <th>Name</th>
        <th>City</th>
        <th>State</th>
        <th>AvailableUnits</th>
        <th>Wifi</th>
        <th>Laundry</th>
        <th >Action</th>
        
       
    </tr>
    
    <tr *ngFor=" let location of locations |async">
    <td>{{location.name}}</td>
    <td>{{location.city}}</td>
    <td>{{location.state}}</td>
    <td>{{location.availableUnits}}</td>
    <td>{{location.wifi}}</td>
    <td>{{location.laundry}}</td>
    <td>
        <button type="button" class="btn btn-success  mx-2">Edit</button>
        <button type="button" class="btn btn-danger  mx-2" (click)="deleteLocation(location.id)">Delete</button>
    </td>
    
    
    </tr>
    
    
    </table>
    
    
    
    
    
    </div>
    
