<div class="container mt-3">
    <h1 class="text-center my-2 text-primary">Student Application From</h1>
    <div class="mb-3 row ">


   
    <div class="mb-3 row ">
        
       
        <div class="mb-3">
            <label for="formFile" class="form-label">Email</label>
            <input class="form-control" type="email" id="formFile" value="example@gmail.com">
        </div>

        <div class="mb-3">
            <label for="formFile" class="form-label">Password</label>
            <input class="form-control" type="password" id="formFile" placeholder="ABCabc123!@#$%" >
        </div>
        
        

        <div class="mb-3">
            <label for="formFile" class="form-label">Default file input example</label>
            <input class="form-control" type="file" id="formFile">
        </div>

        <div class="mb-3">
            <label for="formFile" class="form-label">Default file input example</label>
            <input class="form-control" type="file" id="formFile">
        </div>
   
       
        <div>
            <label for="formFileLg" class="form-label">Large file input example</label>
            <input class="form-control form-control-lg" id="formFileLg" type="file">
        </div>


    </div>


    <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3 mt-3">Confirm identity</button>
    </div>



</div>